- content_for :header do
  = javascript_include_tag 'jquery.ui'
  = javascript_include_tag 'jquery.mjs.nestedSortable'

- content_for :head do
  .actions
    = link_to 'Save', '#', :class => 'save'
  h1 Manage Forums

.manageforums
  ol#sortable
    == render :partial => 'manage_forum', :locals => { :forums => @forums }
  hr
  = link_to 'New', '#', :class => 'newforum'
  javascript:
    $(document).ready(function(){
      $('#sortable').nestedSortable({
        handle: 'div',
        items: 'li',
        toleranceElement: '> div',
        expression: /(.+)[_](.+)/
      });
    });
    $('.save').click(function() {
      var data = { forums: $('#sortable').nestedSortable('toHierarchy') };

      $.ajax({
        type: "POST",
        url: window.location.href + '.json',
        data: data
      }).done(function() {
        window.location.reload(true);
      });
    });

    // creates a new pseudo-forum
    var newforumindex = 0;
    $('.newforum').click(function() {
      var name = prompt('Name of the new Forum?')
      if(name && name.length > 0) {
        var li = $('<li></li>', {id: 'forum_' + --newforumindex, name: name});
        $('<div></div>', {text: name}).appendTo(li);
        li.appendTo('#sortable');
      }
    });

