- content_for :header do
  = javascript_include_tag 'jquery.ui'
  = javascript_include_tag 'jquery.mjs.nestedSortable'

- content_for :head do
  .actions
    = link_to 'Save', '#', :class => 'save'
  h1 Manage Forums

.manageforums
  ol#sortable
    == render :partial => 'manage_forum', :locals => { :forums => @forums }
  hr
  = link_to 'New', '#', :class => 'newforum'
  javascript:
    $(document).ready(function(){
      $('#sortable').nestedSortable({
        handle: 'div',
        items: 'li',
        toleranceElement: '> div',
        expression: /(.+)[_](.+)/,
        collectAttributes: function(o) {
          return {name: o.attr('name'), category: o.attr('data-category') ? true : false}
        }
      });
    });
    $('.save').click(function() {
      var data = { forums: $('#sortable').nestedSortable('toHierarchy') };
      $.ajax({
        type: "POST",
        url: window.location.href + '.json',
        data: data
      }).always(function(e) {
        if(e.status == 200) {
          window.location.reload(true)
        } else {
          alert('Failed to update forums: ' + e.status + ': ' + e.statusText);
        }
      });
      return false;
    });

    // creates a new pseudo-forum
    var newforumindex = 0;
    $('.newforum').click(function() {
      var name = prompt('Name of the new Forum?')
      if(name && name.length > 0) {
        var li = $('<li></li>', {id: 'forum_' + --newforumindex, name: name});
        $('<div></div>', {text: name}).appendTo(li);
        li.appendTo('#sortable');
      }
      return false;
    });

    $('.icon-flag').click(function() {
      var div = $(this).parent().parent();
      var li = div.parent();
      div.toggleClass('category');
      if(div.hasClass('category')) {
        li.attr('data-category', 'data-category');
      } else {
        li.attr('data-category', null);
      }
      return false;
    });
