$a: #468966;
$b: #fff0a5;
$c: #ffb03b;
$d: #b64926;
$e: #8e2800;

$content-background: #fdfdfd;
$tab-color: #fdfdfd;

@import url(http://fonts.googleapis.com/css?family=Ubuntu+Condensed);

@mixin ubuntu {
  font-family: 'Ubuntu Condensed', sans-serif;
}

body {
  background: $c url(backdrop.jpg) fixed;
  margin: 0px;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 20px;
}

h1, h2, h3 {
  @include ubuntu;
  padding: 0px;
  margin: 0px;
}

h1 {
  line-height: 30px;
  font-size: 26px;
}

h2 {
  line-height: 28px;
  font-size: 22px;
}

.frame {
  width: 1230px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.tab.left {
  padding-top: 30px;
  width: 230px;
  float: left;
  position: fixed;
  color: $tab-color;
  a {
    color: $tab-color;
    text-decoration: none;
  }
}

.main {
  width: 999px;
  margin-left: 231px;
  .content {
    background: $content-background;
    padding-left: 30px;
    padding-right: 30px;
    h1 {
      padding-top: 30px;
    }
    .menu {
      padding-bottom: 15px;
    }
  }
}
